/*
* IMPORT FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --Pale-Cyan: hsl(193, 100%, 96%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Dark-Cyan: hsl(192, 100%, 9%);
    --white: white;
    /*600 Heading*/
    --Poppins: 'Poppins', sans-serif;
    /*400 700 Body*/
    --Sans: 'Open Sans', sans-serif;
}

/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    font-family: var(--Sans);
}

h1, h2, h3 {
    font-family: var(--Poppins);
}

/* Intro Heading Animation */
.fade {
    animation: fadeIn 1500ms ease-in-out; /*   delay iteration-count direction fill-mode  */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    width: 100%;
    padding: 2rem 2rem 2rem;
    text-align: center;
    background-image: url("../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg");
    background-color: var(--Pale-Cyan);
    background-position: top;
    background-size: cover;
    min-height: 98vh;
}

/* List */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* Button */
.button {
    /*transition: all .2s ease-in-out;*/
    /*box-shadow: 0px 3px 16px 0px rgb(212, 212, 212);*/
    transition: transform 250ms ease-in-out, opacity 300ms ease-in-out;
    border: none;
    font-size: 0.85rem;
    font-family: var(--Sans);
    font-weight: 700;
    word-wrap: normal;
    word-break: keep-all;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 2rem;
    transform: scale(0.96);
}

.button:hover {
    transform: translateY(-3px);
}

.try-free {
    padding: 0.7rem 3.5rem;
    color: var(--Dark-Cyan);
    background-color: var(--white);
    box-shadow: 0 0.05rem 0.5rem hsla(192, 100%, 9%, 0.249);
}

.try-free:hover {
    background-color: hsl(322, 100%, 66%, 60%);
}

.get-started {
    background-color: var(--pink);
    padding: 1rem 3.5rem;
    color: var(--white);
    display: block;
    box-shadow: 0 5px 10px rgb(255 82 192 / 50%);
}

.get-started:hover {
    opacity: .8;
    color: rgba(255, 255, 255, 0.9);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    gap: 2rem;
}

/* Intro */
.intro {
    width: 50%;
}

h1, p {
    text-align: left;
}

h1 {
    margin-bottom: 2rem;
}

p {
    line-height: 1.5;
    max-width: 32rem;
    margin-bottom: 2rem;
}

/* Intro Image */
.intro-img {
    width: 50%;
}

.intro-img img {
    width: 100%;
    margin-top: 5rem;
}


/*
MEDIA QUERIES
*/
@media (max-width: 576px) {
    header {
        padding: 3rem 1rem 0;
        background-image: url("../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-mobile.svg");
    }

    li:nth-child(2) {
        width: 100%;
    }

    li .try-free {
        display: block;
        float: right;
    }

    .hero {
        flex-direction: column;
        margin-top: 5rem;
        padding: 2rem 1rem;
    }

    .get-started {
        display: inline;
    }

    .try-free {
        padding: 0.5rem 2rem;
    }

    .intro, .intro-img {
        width: 100%;
    }

    .intro-img img {
        margin-top: 1rem;
    }

    li img {
        width: 100%;
        display: block;
    }

    h1, p {
        text-align: center;
    }

    h1 {
        font-size: 1.4rem;
    }
}