/*
* IMPORT FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --Pale-Cyan: hsl(193, 100%, 96%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Dark-Cyan: hsl(192, 100%, 9%);
    --white: white;
    /*600 Heading*/
    --Poppins: 'Poppins', sans-serif;
    /*400 700 Body*/
    --Sans: 'Open Sans', sans-serif;
}

/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    font-family: var(--Sans);
}

h1, h2, h3 {
    font-family: var(--Poppins);
}

/* Intro Heading Animation */
.fade {
    animation: fadeIn 1500ms ease-in-out; /*   delay iteration-count direction fill-mode  */
}


header {
    width: 100%;
    padding: 2rem 2rem 2rem;
    text-align: center;
    background-image: url("../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg");
    background-color: var(--Pale-Cyan);
    background-position: top;
    background-size: cover;
    min-height: 98vh;
}

/* List */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* Button */
.button {
    /*transition: all .2s ease-in-out;*/
    /*box-shadow: 0px 3px 16px 0px rgb(212, 212, 212);*/
    transition: transform 250ms ease-in-out, opacity 300ms ease-in-out;
    border: none;
    font-size: 0.85rem;
    font-family: var(--Sans);
    font-weight: 700;
    word-wrap: normal;
    word-break: keep-all;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 2rem;
    transform: scale(0.96);
}

.button:hover {
    transform: translateY(-3px);
}

.try-free {
    padding: 0.7rem 3.5rem;
    color: var(--Dark-Cyan);
    background-color: var(--white);
    box-shadow: 0 0.05rem 0.5rem hsla(192, 100%, 9%, 0.249);
}

.try-free:hover {
    background-color: hsl(322, 100%, 66%, 60%);
}

.get-started {
    background-color: var(--pink);
    padding: 1rem 3.5rem;
    color: var(--white);
    display: block;
    box-shadow: 0 5px 10px rgb(255 82 192 / 50%);
}

.get-started:hover {
    opacity: .8;
    color: rgba(255, 255, 255, 0.9);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    gap: 2rem;
}

/* Intro */
.intro {
    width: 50%;
}

h1, p {
    text-align: left;
}

h1 {
    margin-bottom: 2rem;
}

p {
    line-height: 1.5;
    max-width: 32rem;
    margin-bottom: 2rem;
}

/* Intro Image */
.intro-img {
    width: 50%;
}

.intro-img img {
    width: 100%;
    margin-top: 5rem;
}

/*
* Layout
*/
.layout {
    width: 95%;
    /*height: 1280px;*/
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    gap: 2.5rem;
}

.card {
    padding: 2rem 0;
    border-radius: 0.7rem;
    overflow: hidden;
    text-align: left;
    justify-content: space-evenly;
    gap: calc(1rem + 2vw);
    display: flex;
    align-items: center;
}

.fadeToLeft {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    -webkit-animation: fadeToLeft 2s both;
    width: 100%;
}

.fadeToRight {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    -webkit-animation: fadeToRight 2s both;
    width: 100%;
}

.card.row {
    flex-direction: row;
}

.card.row-reverse {
    flex-direction: row-reverse;
}

.card img {
    flex-shrink: 0;
    width: 40%;
    max-width: 500px;
    object-fit: contain;
}

article h3 {
    color: var(--Dark-Cyan);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

article p {
    color: var(--Grayish-Blue);
    font-size: 1rem;
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-card {
    max-width: 500px;
    height: 200px;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 0.7rem;
    gap: calc(1rem + 2vw);
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-card h4 {
    color: var(--Dark-Cyan);
}

footer {
    width: 100%;
    background-color: var(--Dark-Cyan);
    padding: 15rem 5rem 3rem;
    /*height: 400px;*/
}

.logo {
    margin-bottom: 2rem;
}

.logo img {
    filter: brightness(0) invert(1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.addresses {
    flex-direction: column;
    align-items: flex-start;
}

.addresses li {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.addresses li p, .addresses li a {
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
    text-align: left;
}

.footer-links {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 2rem;
    height: 140px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social a {
    /*width: 15px;*/
    /*height: 15px;*/
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 10px 12px;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.social a:hover {
    color: var(--pink);
    border-color: var(--pink);
}

/*.social a:hover .social {*/
/*    border-color: var(--pink);*/
/*}*/

/*
MEDIA QUERIES
*/
@media (max-width: 992px) {
    header {
        padding: 3rem 1rem 0;
        background-image: url("../huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-mobile.svg");
    }

    li:nth-child(2) {
        width: 100%;
    }

    li .try-free {
        display: block;
        float: right;
    }

    .hero {
        flex-direction: column;
        margin-top: 5rem;
        padding: 2rem 1rem;
    }

    .get-started {
        display: inline;
    }

    .try-free {
        padding: 0.5rem 2rem;
    }

    .intro, .intro-img {
        width: 100%;
    }

    .intro-img img {
        margin-top: 1rem;
    }

    li img {
        width: 100%;
        display: block;
    }

    h1, p {
        text-align: center;
    }

    p {
        max-width: 100%;
    }

    h1 {
        font-size: 1.4rem;
    }

    .card.row, .card.row-reverse {
        flex-direction: column;
    }

    .card h3, .card p {
        text-align: center;
    }

    .card h3 {
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .card img {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .intro h1 {
        font-size: 2rem;
    }

    .intro-img img {
        width: 85%;
    }

    .card img {
        width: 70%;
        max-width: 70%;
    }

    .card h3 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .question-card {
        max-width: 100%;
        width: 95%;
        padding: 1rem;
    }

    .footer-links {
        grid-template-columns: auto;
        gap: 2rem;
        height: auto;
        margin-bottom: 2rem;
    }
    .addresses li p , .addresses li a, .footer-links a {
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    .card {
        padding: 2rem;
    }

    footer {
        padding: 10rem 1rem 2rem;
    }

    .footer-container {
        flex-direction: column;
    }

    .addresses li img {
        width: auto;
    }
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*
* Animations
*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeToLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeToRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}